# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai

# Pipeline and Project Files
/pyproject.toml @defenseunicorns/leapfrogai
/.github/ @defenseunicorns/leapfrogai
/.gitignore @defenseunicorns/leapfrogai 
/Dockerfile @defenseunicorns/leapfrogai
/Makefile @defenseunicorns/leapfrogai
/requirements.txt @defenseunicorns/leapfrogai
/requirements-dev.txt @defenseunicorns/leapfrogai

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred
